* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none;
}

body {
    background-color: #a47f622a;
}

.site {
    width: 100%;
    height: 100vh;
    /* background-color: aquamarine; */
}

.siteContainer {
    padding: 30px;
    border-radius: 60px;
    /* background-color: aqua; */
}

